<p>Please define your ferret by one of the following 8 colors:<br>
<b>Albino, Black, Black Sable, Champagne, Chocolate, Cinnamon, Dark-Eyed White, and Sable.</b></p>
<p>You may also describe a pattern:<br>
<b>Blaze, Mitt, Mutt, Panda, Point, Roan, Solid, Standard, and Striped/Patterned.</b></p>
<h5>Example: Gizmo is a Black Mitt ferret, and Coconut is a Chocolate Blaze ferret.</h5>
<br>

<%= render 'errors' %>

<%= form_for([@owner, @ferret]) do |f| %>

  <b><label>Ferret name:</label></b>
  <%= f.text_field :name, required: true %><br>

  <b><label>Sex:</label></b>
  <%= f.label :sex_male, 'Male' %>
  <%= f.radio_button :sex, 'male', :checked => true %>
  <%= f.label :sex_female, 'Female' %>
  <%= f.radio_button :sex, 'female' %><br />
  
  <b><label>Color:</label></b>
  <%= f.text_field :color %><br>
  <b><label>Age:</label></b>
  <%= f.number_field :age, in: 1..10 %><br>
  <b><label>Health:</label></b><br>
  <%= f.text_field :health, required: true %><br>
  <b><label>Description:</label></b><br>
  <%= f.text_area :description, required: true %><br>
  <b><label>Found a Home?</label></b>&nbsp;&nbsp;<%= f.check_box :home, {}, "true", "false" %><br>
  <br>
  <%= f.submit "Submit" %> <i class='fas fa-paw' style='font-size:24px'></i>
<% end %>