<h2><%= @ferret.name %><i class='fas fa-paw' style='font-size:36px'></i></h2>
<p><%= @ferret.sex %></p>
<p><%= @ferret.age %></p>
<p><%= @ferret.color %></p>
<p><%= @ferret.health %></p>
<p><%= @ferret.description %></p>
<p>Id #<%= @ferret.id %></p>

<% if logged_in? %>
  <%= render 'edit' %>
<% end %>