<h1>Log In</h1>

<%= render 'notice' %>

<%= form_for @owner, url: login_path, method: :post do |f| %>
  <br>
  <b><%= f.label :email %></b>
  <%= f.email_field :email %>
  <br><br>
  <b><%= f.label :password %></b>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit "log in" %>
  
<% end %>

<br><br>

# Remember to add Facebook Log In