<%= render 'errors' %>

<br>

<%= form_for(@owner) do |f| %>

  <b><label>First Name:</label></b> <%= f.text_field :first_name %><br>
  <br>
  <b><label>Last Name:</label></b> <%= f.text_field :last_name %><br>
  <br>
  <b><label>Email:</label></b> <%= f.email_field :email %><br>
  <br>
  <b><label>Phone (9 digits):</label></b> <%= f.text_field :phone %><br>
  <br>
  <b><label>Zip Code:</label></b> <%= f.text_field :zipcode %><br>
  <br>
  <b><label>How many ferrets do you own?</label></b> <%= f.number_field :quantity, in: 1..15 %><br>
  <br>
  <b><label>Password:</label></b> <%= f.password_field :password %><br>
  <br>
  <b><label>Password Confirmation:</label></b> <%= f.password_field :password_confirmation %><br>
  <br>
  <%= f.submit "Submit" %>
<% end %>