<%= form_for(@owner) do |f| %>

  <label>First Name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Last Name:</label><br>
  <%= f.text_field :last_name %><br>

  <label>Email:</label><br>
  <%= f.text_area :email %><br>

  <label>Phone:</label><br>
  <%= f.text_area :phone %><br>

  <label>Zip Code:</label><br>
  <%= f.text_area :zipcode %><br>

  <label>How many ferrets do you own?</label><br>
  <%= f.text_area :quantity %><br>

  <label>Password:</label><br>
  <%= f.text_area :password_digest %><br>

  <%= f.submit %>
<% end %>