<%= form_tag opportunities_path do %>
  <label>Title:</label><br>
  <%= text_field_tag :title %><br>

  <label>Describe the Circumstance:</label><br>
  <%= text_area_tag :circumstance %><br>

  <label>Active case?</label><br>
  <%= f.check_box :active, {}, "true", "false" %><br>

  <%= submit_tag "Submit Opportunity" %>
<% end %> 