<h2>Add an Opportunity</h2>

<%= form_for(@opportunity) do |f| %>

  <label>Title:</label><br>
  <%= f.text_field :title %><br>
  <br>
  <label>Describe the Circumstance:</label><br>
  <%= f.text_field :circumstance %><br>
  <br>
  <label>Active case?</label><br>
  <%= f.check_box :active, {}, "true", "false" %><br>
  <br>
  <%= f.submit %>
<% end %>

<br>
<br>
<b>Sales of any kind are not permitted.</b>