<%= render 'errors' %>

<%= form_for(@opportunity) do |f| %>

  <b><label>Title:</label></b>
  <%= f.text_field :title, required: true %><br>
  <br>
  <b><label>Describe Circumstance:</label></b><br>
  <%= f.text_area :circumstance, required: true %><br>
  <br>
  <b><label>Active case?</label></b>&nbsp;&nbsp;<%= f.check_box :active, {}, "true", "false" %><br>
  <em>All cases are marked as active until you deactivate them.</em>
  <br><br>
  <%= f.submit "Submit" %>
<% end %>

<br>
<br>
<b>Sales of any kind are not permitted.</b>