<h1><%= @opportunity.title %></h1>
<br>
<h2><%= @opportunity.ferret.name %> <i class='fas fa-paw'></i></h2>

<br><br>

<p><%= @opportunity.circumstance %></p>
<br><br>
<h5>Shared by <%= @opportunity.owner.first_name %> on <%= @opportunity.updated_at.strftime("%B %d, %Y") %>.</h5>
<br><br>

<% if @opportunity.active %>
  <b>This case is still active.</b>
<% else %>
  <b>This opportunity is now closed.</b>
<% end %>

<br><br>
<br>
<button><%= link_to "Adoption Request", opportunities_path(opportunity.id: @owner.req_id), method: :post %> <i class='fas fa-heart' style='color:crimson'></i></button>

<br><br>
<br>



<button><%= link_to 'Edit Details', edit_owner_opportunity_path(@owner) %></button>