<h1><%= @opportunity.title %></h1>
<br>
<h2><%= @opportunity.ferret.name %> <i class='fas fa-paw'></i></h2>

<br><br>

<p><%= @opportunity.circumstance %> Case ID# <%= @opportunity.id %></p>
<br><br>

<h5>Shared by <%= @opportunity.owner.first_name %> on <%= @opportunity.updated_at.strftime("%B %d, %Y") %>.</h5>

<br><br>
  
<%= button_to "Create an Adoption Request", opportunity_adoption_requests_path(@opportunity), method: :post %></b>

<br><br><br><br>

<% if @opportunity.active %>
  <b>This case is still active.</b>
<% else %>
  <b>This opportunity is now closed.</b>
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button><%= link_to 'Edit Details', edit_owner_opportunity_path(@owner) %></button>

