<!DOCTYPE html>
<html>
  <head>
    <title>Ferret Adoption</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  </head>
 
  <body>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/ferrets">Ferrets</a></li>
        <li><a href="/owners">Owners</a></li>
        <li><a href="/opportunities">Opportunities</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/owners/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/sessions/destroy"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


    <div class="container">

      <div class="main-content">

        <% if flash[:message] %>
          <div class="alert alert-warning">
            <%= flash[:message] %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    
    </div>

      <footer class="container-fluid">
        <h6></h6>
      </footer>

  </body>

</html>
